                <button onclick="location.href='/select'">조회 페이지로 이동</button >
                <button onclick="location.href='/insert'">입력 페이지로 이동</button >
                <button onclick="location.href='/update'">수정 페이지로 이동</button >
                <button onclick="location.href='/'">로그아웃</button >
<h1> {{title}}</h1>
<p>삭제하고 싶은 항목을 골라주세요.</p>

                <button onclick="location.href='delete/airport'">공항 삭제</button >

                <button onclick="location.href='delete/airplane'">항공기 삭제</button >

                <button onclick="location.href='delete/leg_instance'">항공편 삭제</button >