
                <button onclick="location.href='/'">로그아웃</button >
<h1> {{title}} </h1>

                <button onclick="location.href='login/insert'">예약하기</button >

                <button onclick="location.href='login/delete'">예약 조회 및 삭제</button >