                <button onclick="location.href='/select'">조회 페이지로 이동</button >
                <button onclick="location.href='/insert'">입력 페이지로 이동</button >
                <button onclick="location.href='/delete'">삭제 페이지로 이동</button >
                <button onclick="location.href='/'">로그아웃</button >
<h1> {{title}}</h1>
<p>수정하고 싶은 항목을 골라주세요.</p>

                <button onclick="location.href='update/airport'">공항 수정</button >

                <button onclick="location.href='update/airplane'">항공기 수정</button >

                <button onclick="location.href='update/leg_instance'">항공편 수정</button >